/* TODO: add any application specific styling here */
#mediaReadview img{
    width: 100%;
    max-width: 100%;
}

#mediaReadview main video{
    width: 100%;
}

#mediaEditview main video{
    width: 100%;
}

#mediaEditview main img{
    width: 100%;
    height: 100%;
}